
 .authContainer {
     padding: 1em;
     background:#f7e2ed;
     margin: 0 1rem;
     font-family: sans-serif;
     display: flex;
     justify-content: end;
     border-radius: 1rem;
     border: #e255a3 solid 0.25rem;
}

button {
    position: relative;
    font-family: "Hina Mincho", serif;
    border: 2.5px solid #e255a3;
    border-radius: 1.5em 0.7em 2em 1em/1.2em 2em 1em 2em;
    max-height: 20vh;
    cursor: pointer;
    background: white;
    overflow: hidden;
    box-shadow:
        2px 4px 0px 0px #e255a3,
        0px 0px 0px 2px #fff inset;
    transition:
        box-shadow 0.2s ease,
        transform 0.15s ease;
    font-size: 1.0rem;
    padding: 0.6em 1em;
    animation: radiusWobble 1.2s infinite linear;
}

 button:hover {
    box-shadow:
        8px 14px 0px 0px #e255a3,
        0px 0px 20px 6px rgba(226, 85, 163, 0.4),
        0px 0px 0px 2px #fff inset;

    transform: translateY(-4px) scale(1.02);
}
@keyframes radiusWobble {
    0% {
        border-radius: 1.5em 0.7em 2em 1em / 1.2em 2em 1em 2em;
    }
    25% {
        border-radius: 0.7em 2em 1em 2em / 1.5em 0.7em 2em 1em;
    }
    50% {
        border-radius: 2em 1em 1.5em 0.7em / 2em 1.2em 2em 1em;
    }
    75% {
        border-radius: 1em 2em 0.7em 1.5em / 2em 1em 1.2em 2em;
    }
    100% {
        border-radius: 1.5em 0.7em 2em 1em / 1.2em 2em 1em 2em;
    }
}